beautifulsoup4 
brotlipy==0.7.0
certifi==2020.12.5
cffi 
chardet 
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
cryptography 
idna 
lxml 
psycopg2-binary
pycparser
pyOpenSSL 
PySocks 
requests 
selenium 
six 
soupsieve 
urllib3 
webdriver-manager==3.4.1
win-inet-pton 
wincertstore==0.2
XlsxWriter 
